[submodule "Plugins/HorizonInteract"]
	path = Plugins/HorizonInteract
	url = https://kanohorizonia@dev.azure.com/kanohorizonia/UEHorizonPlugin/_git/HorizonInteract

[submodule "Build/Base"]
	path = Build/Base
	url = https://dev.azure.com/kanohorizonia/EpicGames/_git/KanoUnrealBuildTool
