Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
/Build/WindowsNoEditor/FileOpenOrder/EditorOpenOrder.log
/Build/Windows/FileOpenOrder/CookerOpenOrder.log
/Build/Windows/FileOpenOrder/EditorOpenOrder.log
Releases
